fastapi[standard]
uvicorn
pydantic
azure-identity
azure-storage-blob
passlib
langchain[openai]
langgraph
langchain-community
langchain-postgres
unstructured[pdf]
openai
python-dotenv
bcrypt
psycopg2-binary
